bcrypt==4.0.1
cryptography==41.0.1
fastapi==0.97.0
httpx==0.24.1
pydantic==1.10.9
pytest==7.4.0
pytest-mock==3.11.1
python-jose==3.3.0
redis==4.6.0
SQLAlchemy==2.0.17
starlette==0.27.0
uvicorn==0.22.0
pymysql==1.0.3